/* definition des polices */
.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

a {
  font-family: "Work Sans", sans-serif;
  font-size: 0.8em;
}

/* marge body */
body {
  margin: 0px;
}

/* type écran minimum 980px et plus de 1200px desktop */
.width {
  max-width: 900px;
  margin: 0 auto;
}

/* taille écran breakpoints 980*/
@media screen and (min-width: 980px) {
  .caroussel {
    max-width: 100%;
  }

  #bouton_caroussel {
    margin-top: 120px;
    margin-left: 250px;
  }

  .gauche_un {
    min-width: auto;
  }

  .banniere h4 {
    font-size: 2em;
  }

  .banniere h5 {
    font-size: 0.8em;
    margin: 50px 10px;
  }

  .banniere p {
    font-size: 0.6em;
  }

  #premiere_ligne {
    font-size: 0.8em;
  }

  #second_paragraphe {
    font-size: 0.8em;
  }

  #trois_p {
    font-size: 0.8em;
  }

  #tour_p {
    font-size: 0.7em;
  }

  #icon_liste {
    width: 65%;
  }

  .caroussel2 {
    margin: auto auto auto -35px;
  }

  #icon_actualite {
    margin: 20px auto 20px 350px;
  }

  .verre {
    width: 360px;
  }

  .text_info {
    padding-left: 0px;
  }

  .info h5 {
    font-size: 1.7em;
  }

  .info p {
    font-size: 0.9em;
  }

  .tarif {
    margin: -200px 0px auto 385px;
  }

  .tarif a {
    width: 45%;
  }

  .map {
    margin: 70px -10px;
  }

  .text_svg {
    margin: 10px auto 10px 515px;
  }

  .map svg {
    margin-left: 350px;
  }

  footer a {
    font-size: 0.5em;
  }
}

/* breakpoint 1200px */
@media screen and (min-width: 1200px) {
  .width {
    min-width: 1050px;
    margin: 0 auto;
  }

  nav {
    margin: auto 20px auto 350px;
  }

  .container button {
    margin: 400px 40px auto 80px;
  }

  #next {
    margin: 500px -140px auto 0px;
  }

  #prev {
    margin: 500px -140px auto 0px;
  }

  .caroussel {
    min-width: 1050px;
  }

  .slide img {
    min-width: 1050px;
    min-height: 700px;
  }

  #bouton_caroussel {
    margin-top: 220px;
    margin-left: 330px;
  }

  .rassemblement {
    min-width: 1050px;
  }

  .banniere {
    min-width: 1050px;
  }

  .banniere h4 {
    font-size: 3em;
  }

  .banniere h5 {
    font-size: 0.9em;
    margin: 55px 10px;
  }

  .banniere p {
    font-size: 0.7em;
  }

  .tour_de_france {
    min-width: 1050px;
  }

  #premiere_ligne {
    font-size: 0.9em;
  }

  #second_paragraphe {
    font-size: 0.9em;
  }

  #trois_p {
    font-size: 0.9em;
  }

  #tour_p {
    font-size: 0.8em;
  }

  #icon_liste {
    width: 60%;
  }

  .caroussel2 {
    min-width: 1050px;
    margin: auto auto auto 40px;
  }

  .caroussel2 img {
    min-width: 250px;
    min-width: 150px;
  }

  #icon_actualite {
    margin: 20px auto 20px 420px;
  }

  .newsletter {
    min-width: 1050px;
  }

  .info {
    min-width: 1050px;
  }

  .tarif {
    min-width: 740px;
    margin: -170px 0px auto 470px;
  }

  .verre {
    max-width: 400px;
  }

  .text_info {
    padding-left: 40px;
    padding-right: 80px;
  }

  .info h5 {
    font-size: 2em;
  }

  .info p {
    font-size: 1em;
  }

  .tarif a {
    width: 30%;
  }

  .map {
    min-width: 1050px;
    margin: 40px -10px;
  }

  .text_svg {
    margin: 10px auto 10px 660px;
  }

  .map svg {
    margin-left: 500px;
  }

  footer a {
    font-size: 0.7em;
  }
}

/* liens reseaux menu _ flexbox css ligne inversée */
.reseaux {
  display: flex;
  flex-direction: row-reverse;
  background-color: rgb(245, 243, 243);
  margin: auto 10px auto 450px;
  width: 50%;
}

.reseaux a,
img {
  padding-left: 10px;
}

.reseaux a {
  text-decoration: none;
  color: black;
  margin-top: 7px;
}

.facebook {
  width: 3%;
}

.contact {
  width: 3%;
}

/* menu et nav _ utilisation dropdown hover  */
nav {
  margin: -15px auto 30px 20px;
}

.logo {
  align-self: flex-start;
  margin: 10px auto auto auto;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

menu a {
  padding: 10px;
}

ul {
  list-style-type: none;
  padding: 5px;
  border-radius: 25px;
}

li {
  float: left;
  margin-right: 10px;
}

li a,
.dropbtn {
  display: inline-block;
  color: black;
  border-radius: 25px;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(240, 243, 247);
  width: auto;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgb(240, 243, 247);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.lien_billet {
  color: rgb(112, 10, 10);
}

/* en tete et caroussel _  creation dune liste a puce et fichier js pour les slide */
.container {
  width: 900px;
  position: relative;
  margin: auto -140px;
}

.container button {
  position: absolute;
  margin: 400px 0px;
  background: none;
  border: none;
  outline: none;
  font-size: 2.5rem;
  z-index: 7;
  cursor: pointer;
  color: whitesmoke;
  transform: translateY(-50%);
  top: 50%;
  text-align: center;
}

#prev {
  left: 5px;
  background-color: rgb(112, 10, 10);
  border-radius: 50%;
  padding: 1px 10px;
  border: white solid 1px;
  margin-left: 255px;
}

#next {
  right: 5px;
  background-color: rgb(112, 10, 10);
  border-radius: 50%;
  padding: 1px 10px;
  border: white solid 1px;
}

.container li {
  list-style: none;
}

.slide {
  position: absolute;
  z-index: 1;
  margin: 20px 125px;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.slide img {
  display: block;
  width: 900px;
  height: 550px;
  object-fit: cover;
  opacity: 0.8;
}

.caroussel {
  width: 980px;
  position: relative;
  margin: auto -80px;
}

.date {
  font-weight: 400;
  position: relative;
  z-index: 4;
  margin: 110px auto auto 170px;
  padding: 5px 5px;
  color: white;
  background-color: rgba(171, 171, 175, 0.678);
  max-width: 30%;
  border-radius: 25px;
  text-align: center;
}

h1 {
  position: relative;
  z-index: 4;
  margin: 30px auto auto 170px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 3em;
  font-weight: bold;
}

.halle {
  position: relative;
  z-index: 7;
  margin: 0 auto auto 170px;
  color: white;
  font-family: "Work Sans", sans-serif;
  font-size: 0.8em;
}

#salon {
  position: relative;
  z-index: 7;
  margin-left: 70px;
  margin-right: 30px;
  color: white;
  padding: 10px 10px;
  background-color: rgb(112, 10, 10);
  text-decoration: none;
  border-radius: 25px;
  border: white solid 1px;
  min-width: 100%;
}

#bouton_billet {
  position: relative;
  z-index: 7;
  color: rgb(112, 10, 10);
  padding: 10px 10px;
  background-color: white;
  text-decoration: none;
  border-radius: 25px;
  border: rgb(112, 10, 10) solid 3px;
  width: 100%;
}

/* section rassemblement auvergnat _ grille css*/
.rassemblement {
  margin: 180px auto 220px -10px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  max-width: 900px;
}

.gauche_un {
  max-width: 350px;
}

#text1 {
  margin-left: 40px;
  margin-right: 0px;
}

#text1 h5 {
  margin-top: -15px;
  font-size: 2em;
}

#text1 h4 {
  margin-top: 20px;
}

h4 {
  font-family: "Work Sans", sans-serif;
  color: rgb(112, 10, 10);
  font-size: 0.8em;
}

h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 2.2em;
}

.rassemblement p {
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  margin-top: -40px;
  text-align: left;
}

#text2 {
  font-size: 0.8em;
  opacity: 0.6;
  margin-bottom: 30px;
  margin-top: 0px;
}

.bouton_salon {
  color: white;
  padding: 10px 10px;
  background-color: rgb(112, 10, 10);
  text-decoration: none;
  border-radius: 25px;
}

.droite_un {
  margin: auto auto auto 0px;
  max-width: 100%;
}

/* banniere visiteur exposant pole _ grille css et image en arriere plan */
.banniere {
  background-image: url(image/banniere_vin.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1050px;
  opacity: 0.8;
  margin: -170px auto 50px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 900px;
}

#visiteur {
  margin: 10px 40px;
}

#visiteur h4 {
  color: rgb(112, 10, 10);
  margin: -50px 60px;
}

#visiteur h5 {
  color: white;
  font-size: 0.8em;
}

#visiteur p {
  font-family: "Poppins", sans-serif;
  color: white;
  margin-left: 10px;
  text-align: left;
}

#exposant {
  margin: 10px 20px;
}

#exposant h4 {
  color: rgb(112, 10, 10);
  margin: -50px 60px;
}

#exposant h5 {
  color: white;
  font-size: 0.8em;
}

#exposant p {
  font-family: "Poppins", sans-serif;
  color: white;
  margin-top: -15px;
  margin-left: 10px;
  text-align: left;
}

#pole {
  margin: 10px 20px;
}

#pole h4 {
  color: rgb(112, 10, 10);
  margin: -50px 60px;
}

#pole h5 {
  color: white;
  font-size: 0.8em;
}

#pole p {
  font-family: "Poppins", sans-serif;
  color: white;
  margin-top: -20px;
  margin-left: 10px;
  text-align: left;
}

#edition {
  margin: 10px 20px;
}

#edition h4 {
  color: rgb(112, 10, 10);
  margin: -50px 60px;
}

#edition h5 {
  color: white;
  font-size: 0.8em;
}

#edition p {
  font-family: "Poppins", sans-serif;
  color: white;
  margin-left: 10px;
  text-align: left;
}

/* section tour de france _ grille css */
.tour_de_france {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin: 30px auto auto -10px;
  max-width: 900px;
}

#tour {
  margin-left: 0px;
}

#coeur {
  margin: 0px 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 2.2em;
  color: black;
}

#bloc_paragraphe {
  margin-right: 0px;
  margin-left: 30px;
  margin-top: -10px;
}

#r::first-letter {
  color: rgb(112, 10, 10);
  font-size: 400%;
  margin-left: 15px;
}

#premiere_ligne {
  font-family: "Poppins", sans-serif;
  line-height: 2;
  margin-top: -80px;
  margin-left: 55px;
}

#second_paragraphe {
  font-family: "Poppins", sans-serif;
  line-height: 2;
  margin-top: -12px;
  margin-left: 60px;
}

#trois_p {
  font-family: "Poppins", sans-serif;
  line-height: 2;
  margin-left: 17px;
  margin-top: -10px;
  margin-right: auto;
}

#tour_p {
  font-family: "Poppins", sans-serif;
  opacity: 0.8;
  line-height: 1.8;
  text-align: left;
  margin-left: 17px;
  margin-bottom: 20px;
}

#liste_expo {
  color: rgb(112, 10, 10);
  padding: 10px 10px;
  background-color: white;
  text-decoration: none;
  border-radius: 25px;
  border: rgb(112, 10, 10) solid 2px;
  display: block;
  width: 45%;
  text-align: center;
  margin-left: 15px;
}

#icon_liste {
  color: white;
  padding: 10px 10px;
  background-color: rgb(112, 10, 10);
  text-decoration: none;
  border-radius: 25px;
  border: rgb(112, 10, 10) solid 2px;
  text-decoration: none;
  display: block;
  margin-top: 20px;
  margin-left: 15px;
}

#icon_liste img {
  margin: -10px 5px;
}

.droite2 {
  max-width: 100%;
}

/* section le blog et second caroussel _ grille css */
#blog {
  margin-left: 0px;
  margin-top: 45px;
}

#titre_ballade {
  margin-top: -5px;
  margin-left: 0px;
}

.caroussel2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
  max-width: 900px;
}

.caroussel2 ul {
  display: flex;
}

.caroussel2 p {
  font-family: "Work Sans", sans-serif;
  font-size: 0.8em;
  opacity: 0.8;
  line-height: 1.5;
  text-align: left;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 5px;
}

.caroussel2 img {
  max-width: 220px;
  max-height: 150px;
  object-fit: cover;
}

.caroussel2 a {
  font-family: "Work Sans", sans-serif;
  color: rgb(112, 10, 10);
  font-weight: bold;
  padding-left: 10px;
}

#icon_actualite {
  color: white;
  padding: 10px 10px;
  background-color: rgb(112, 10, 10);
  text-decoration: none;
  border-radius: 25px;
  border: rgb(112, 10, 10) solid 3px;
  display: block;
  width: 20%;
  text-align: center;
  display: block;
}

#avant {
  position: absolute;
  background-color: rgb(112, 10, 10);
  border-radius: 25px;
  padding: 10px 10px;
  color: white;
  font-weight: bold;
  margin-left: -25px;
  margin-top: 50px;
  cursor: pointer;
  z-index: 7;
}

#apres {
  position: absolute;
  background-color: rgb(112, 10, 10);
  border-radius: 25px;
  padding: 10px 10px;
  color: white;
  font-weight: bold;
  margin-left: 960px;
  margin-top: 50px;
  margin-right: auto;
  cursor: pointer;
  z-index: 7;
}

/* section newsletter _ flexbox css formulaire*/
.newsletter {
  background-image: url("image/bannier.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 900px;
  height: 350px;
  margin: 80px auto 30px 0px;
}

.newsletter h4 {
  color: white;
  text-align: center;
  padding-top: 20px;
  font-weight: 300;
  opacity: 0.8;
}

.newsletter h5 {
  color: white;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 90px;
  text-decoration-line: underline;
  text-decoration-color: rgb(112, 10, 10);
  text-decoration-style: wavy;
  text-underline-offset: 15px;
}

form {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Work Sans", sans-serif;
}

.mail {
  margin: auto 300px;
  font-weight: 300;
}

#email {
  margin: 10px -20px;
  width: 100%;
  border-radius: 25px;
  padding: 15px 15px;
  font-size: 1.2em;
}

form button {
  background-color: rgb(112, 10, 10);
  width: 15%;
  border-radius: 25px;
  padding: 17px 17px;
  color: white;
  font-weight: 200;
  margin: -66px 270px auto auto;
  position: static;
  cursor: pointer;
  border: white solid 3px;
}

#subscribeNews {
  margin-top: 10px;
  margin-left: 290px;
  margin-right: auto;
}

.consentement label {
  margin: -20px auto auto 315px;
  font-size: 0.8em;
  opacity: 0.8;
  font-weight: 300;
}

.consentement a {
  color: white;
  font-size: 0.9em;
  opacity: 0.8;
}

/* section infos pratiques et tarifs _ flexbox css et mise en forme tableau html */
.info {
  max-width: 900px;
  margin: 60px -10px;
  display: flex;
  flex-direction: row;
}

.tarif_photo {
  align-self: self-start;
  padding-left: 100px;
  padding-right: 0px;
}

.info h4 {
  margin-top: 10px;
  font-size: 1em;
  font-weight: 500;
  margin-left: 15px;
}

.info h5 {
  margin-top: -20px;
  margin-left: 15px;
}

.info p {
  margin-top: -35px;
  text-align: left;
  padding-left: 20px;
  line-height: 1.2;
}

.tarif {
  max-width: 600px;
  z-index: 7;
  font-size: 1em;
  position: relative;
}

.free {
  font-family: "Work Sans", sans-serif;
  color: rgb(112, 10, 10);
  font-size: 2em;
  font-weight: 500;
  border-left: 1px dashed black;
  line-height: 3;
}

.tarif td {
  font-family: "Work Sans", sans-serif;
  font-size: 0.8em;
  border-bottom: 1px dashed black;
  padding: 15px;
}

.en_tete {
  font-size: 1.2em;
}

table {
  width: 505px;
  border-top: 1px dashed black;
}

.tableau {
  font-size: 0.8em;
}

.tarif a {
  color: white;
  text-align: center;
  padding: 10px;
  background-color: rgb(112, 10, 10);
  border-radius: 25px;
  border: rgb(112, 10, 10) solid 2px;
  text-decoration: none;
  display: block;
  margin-top: 15px;
}

/* section map comment venir _ flexbox et ajout taille du carre svg */
.map {
  max-width: 900px;
  display: flex;
  flex-direction: row;
}

.map_carte {
  width: 75%;
}

.info_map {
  z-index: 8;
  color: white;
  position: absolute;
  margin: 10px 10px auto 10px;
}

.info_map h4 {
  color: white;
  font-weight: 300;
  margin-top: 65px;
}

.info_map h5 {
  color: white;
  margin-top: -10px;
  text-decoration-line: underline;
  text-decoration-color: rgb(112, 10, 10);
  text-decoration-style: wavy;
  text-underline-offset: 15px;
}

.map_p {
  margin-top: -60px;
  font-size: 1.2em;
}

.map_tel {
  margin-top: -30px;
  font-size: 1.2em;
}

.map_date {
  font-weight: 300;
  opacity: 0.7;
}

.map_pdate {
  font-size: 0.9em;
  margin-left: 0px;
  margin-bottom: 25px;
}

.info_map img {
  margin-left: -40px;
  margin-top: -5px;
}

.map svg {
  z-index: 7;
  width: 550px;
  height: 450px;
}

.text_svg {
  position: absolute;
  z-index: 9;
}

/* footer flexbox en ligne */
footer {
  width: 100%;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(112, 10, 10);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
}

footer a {
  text-decoration: none;
  color: white;
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}

#coqpit {
  text-transform: capitalize;
  padding-left: 270px;
  padding-right: 10px;
  align-self: self-end;
}
